/* Nastavení celého pozadí stránky na růžovou */
body {
    background-color: #699bff; /* Světle růžová */
    font-family: Cambria, Cochin, Cambria, Cochin, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif, Times, 'Times New Roman', serif, sans-serif;
    text-align: center;
    padding: 50px;
}

/* Hlavní nadpis (h1) bude modrý */
h1 {
    color: #0000ff; /* Modrá barva */
    font-size: 70px;
}

/* Odstavec (p) bude bílý, aby byl čitelný na růžovém pozadí */
p {
    color: white;
    font-size: 290px;
}

/* Přidání stylového tlačítka */
button {
    background-color: white;
    color: #ff69b4;
    border: 2px solid #0000ff;
    padding: 10px 20px;
    font-si
